.series0.chart-series-line {
    -fx-stroke: red;
    -fx-stroke-width: 1.0px;
}
.series1.chart-series-line {
    -fx-stroke: red;
    -fx-stroke-width: 1.0px;
}
.axis:top {
    -fx-border-color: transparent;
}

.axis:right {
    -fx-border-color: transparent;
}

.axis:bottom {
    -fx-border-color: transparent;
}

.axis:left {
    -fx-border-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-vertical-zero-line,
.chart-horizontal-zero-line {
    -fx-stroke: derive(-fx-background,-10.0%);
    -fx-stroke-dash-array: 0.25em, 0.25em; 
}

.chart-plot-background {
    -fx-background-color: white;
}